*{
    margin:0; 
   /* font-size: 18px; */
    padding:0;
    /* font-family: 'Apercu Pro Regular' !important; */
}
li{
    list-style: none;
    text-decoration: underline;
    text-decoration: none;
    /* font-size: 60px; */
  
}
li a pre{
    font-size: 20px;
    /* text-decoration: none; */
    color:#000000
}
ul{
    display: flex;
    justify-content: center;
    gap:10px
}
#login-page{
     /* display:flex; */
    width:40%;
    padding:10% 0 ;
    margin: auto;
    /* z-index:-1 */
    /* background-color: red; */
}
#signup-page{
     /* display:flex; */
    width:40%;
    padding:10% 0 ;
    margin: auto;
    /* position: absolute; 
     z-index: 1; */
    
}
#forgot-page{
     /* display:flex; */
     /* position: absolute; */
    width:40%;
    padding:10% 0 ;
    margin: auto;
    /* z-index: 1; */
  
}
.form{
    position:relative;
    z-index: 0;
    background: hsl(0, 0%, 100%);
    max-width:100%;
    margin-top: 100px;
    padding: 45px;
    text-align: center;

  
}
/* #login-form{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
} */
#login-form input{
    font-family: "Roboto",sans-serif;
    outline:1;
    background: #f2f2f2;
    border:2px solid black;
    width:100%;
    border:0;
    margin:0 0 35px;
    padding:18px;
    box-sizing: border-box;
    font-size: 22px;
    border-radius: 5px;
    /* box-shadow: 4px 4px 5px grey; */
}
#signup-form input{
    font-family: "Roboto",sans-serif;
    outline:1;
    background: #f2f2f2;
    border:2px solid black;
    width:100%;
    border:0;
    margin:0 0 30px;
    padding:20px;
    box-sizing: border-box;
    font-size: 22px;
    border-radius: 5px;
    /* box-shadow: 4px 4px 5px grey; */
}
#hlogin{
    text-align: center;
    font-size: 40px;
    /* margin: 25px; */
    /* padding: 20px; */
}
.loginsubmit:hover{
    background-color: #2222;
    color:white;
}
.reset{
    text-align: center;
    font-size: 25px;
    padding: 10px ;
}