* {
    margin: 0px;
    padding: 0px;
    font-family: apercu;
}

#mmain {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 90;
}

#mmenu {

    width: 35px;
    height: 30px;
    margin: 30px 0px 20px 20px;
    cursor: pointer;
    z-index: 100;


}

.bar {
    height: 3px;
    width: 100%;
    background-color: white;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
    margin: 2px 0;
}

#bar1 {
    transform: translateY(-4px)
}

#bar3 {
    transform: translateY(4px)
}

.mnav li a {
    color: white;
    text-decoration: none;
}

.mnav li a:hover {
    color: rgba(255, 255, 255, 0.4);


}

.mnav li {
    list-style: none;
    background-color: black;
    padding: 16px 0;


}

.mnav {
    padding: 0;
    margin: 0 20px;
    transition: 1s ease;
    display: none;

}

.icon .bar {
    background-color: white;
}

.icon #bar1 {
    transform: translateY(4px) rotate(-45deg);
}

.icon #bar3 {
    transform: translateY(-6px) rotate(45deg);
}

.icon #bar2 {
    opacity: 0;
}

.change {
    background-color: black;
    height: 100vh;
    margin: 0;
    position: absolute;
    font-size: 26px;
    top: 0;
    left: 0;
    z-index: -100;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    font-weight: bold;
}


#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 94%;
    margin: auto;
    background-color: black;
    padding: 28px 40px;
    color: white;

}

#mflex {
    width: 17%;
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    color: rgb(255, 255, 255);


}

@font-face {
    font-family: apercu;
    src: url(./fonts/apercu_regular_pro.otf);
}

#sidenav1 {
    padding: 100px 0px;
    position: fixed;
    width: 600px;
    height: 100vh;

    background-color: black;

    right: 0;
}

#sidenav2 {
    padding: 100px 0px;
    position: fixed;
    width: 50%;
    height: 100vh;
    backdrop-filter: blur(10px);
    background-color: red;
    background: rgba(17, 15, 15, 0.37);
    background-color: black;
    right: 0;
    height: 400px;
    overflow: scroll;
}

#change {
    border: 1px solid red;
    width: 100px;
    height: 50px;
}

#cartheading {
    color: white;
    font-weight: bold;
    font-size: 32px;
    padding: 0px 40px;
    margin-top: -100px;
    margin-left: 40px;

}

#cartItems {
    /* border: 1px solid red; */
    padding: 0px 50px;
    margin: 30px;
    color: white;
    text-align: right;

}

#goTocart {
    width: 464px;
    height: 66px;
    padding: 18px 32px;
    font-size: 18px;
    color: white;
    background-color: black;
    border: 1px solid rgb(54, 53, 53);
    margin-left: 75px;
    margin-bottom: 20px;
}

#productSearch {
    color: white;
    font-size: 36px;
    padding: 30px;
    margin-top: -120px;
    margin-left: 50px;
}

#productSearchinp {
    color: white;
    width: 80%;
    margin: auto;
    height: 20px;
    background-color: black;
    border: 1px solid rgb(54, 53, 53);
    padding: 20px
}

a {
    text-decoration: none;
    color: white
}

#mshop {
    margin: 50px;
    font-size: 20px;
    position: absolute;
    right: 700px;
    top: 150px;
}

#mshop li a:hover {
    color: rgba(255, 255, 255, 0.4);


}

#numofItems {
    width: 23px;
    height: 20px;
    font-size: 14px;
    background-color: rgb(172, 160, 141);
    color: black;
    text-align: center;
    border-radius: 50%;
    padding-top: 2px;
    margin-left: -60px;
    margin-top: -8px;
}

#rshowitems {
    width: 80%;
    height: 300px;
    margin: auto;
    color: white;
    padding: 20px;
    overflow: scroll;
    /* border: 1px solid red; */

}



/* footer */



* {
    font-family: apercu
}

#footerparent {
    height: 600px;
    width: 100%;
    background-color: black;
    border: 2px solid white;

}

@font-face {
    font-family: apercu;
    src: url(./fonts/apercu_regular_pro.otf);
}

#upper {
    display: flex;
    /* grid-template-columns: repeat(2,30%); */
    height: 60%;
    width: 89%;
    /* grid-gap:-14%; */
    border-bottom: 1px solid white;
    margin-left: 70px;


}

#lower {
    padding-right: 70px;
    margin-left: -30px;
}

#upper>div {
    height: 300px;
    width: 200px;
    /* border: 1px solid white; */
    /* background-color: azure; */
}

#div1a {
    padding-top: 60px;
    /* margin: 40px; */

    /* background-color: beige; */

}

.a>a {
    margin: 20px auto;
    font-size: large;
    color: white;
    text-decoration: none;

}

.a>a:hover {
    text-decoration: underline;
}

.a {
    margin-top: 10px;
    font-size: large;
    color: white;
    text-decoration: none;


}

#div1b {
    padding-top: 60px;
    /* background-color: rgb(204, 204, 42); */

}

#footlogo {
    display: grid;
    grid-template-columns: 20% 30% 40%;
    gap: 10px;

    padding-top: 10px;
    margin-top: 20px;
    justify-content: space-between;
    height: 50px;
}

#footlogo>div {
    /* margin-top: 20px; */
    height: 30px;
    /* width: 100px; */


}

#footlogo>div:nth-child(3) {
    /* margin-top: 20px; */
    height: 30px;
    /* width: 100px; */

    margin-left: -45px;

}

.pay {
    height: 30px;
    width: 40px;

    margin-left: 2px;
    /* background-color: white; */

}

.pay>img {
    height: 27px;
    width: 40px;
    border-radius: 7%;


}

.logo {
    padding-top: 10px;
    display: flex;
    gap: 10px;
    padding-left: 100px;
    color: white;
    /* background-color: aquamarine; */

}

#deep {
    height: 100px;
    width: 90%;
    padding-left: 100px;
    /* border: 2px solid white; */
    color: gray;
    margin-left: -30px
}


#face {

    display: flex;
    justify-content: center;
    font-size: medium;
    color: black;
    background-color: gray;
    height: 20px;
    width: 20px;
    border: 0.5px solid gray;
    border-radius: 50%;
    padding-top: 2px;
}

#insta {
    /* display: flex; */
    /* justify-content: center; */
    font-size: 25px;
    color: gray;
    background-color: black;
    /* height: 100px; */
    /* width: 40px; */
    /* border: 0.5px solid black; */
    /* border-radius: 50%; */
    /* padding-top: 1px;    */
}